.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    float: left;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hamburger-menu {
    flex-direction: column;
    cursor: pointer;
    margin: 28px 32px;
}

.hamburger-menu .bar {
    width: 28px;
    height: 4px;
    background-color: #f2f2f2;
    margin: 4px 0;
}

.nav-links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(51, 51, 51, 0.2);
    border: 2px solid black;
    width: 20%;
    height: 200px;

}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 16px 0;
}

.nav-links a {
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    display: flex;
    animation: slideIn 0.3s ease-in-out;
}

.hero-section {
    height: fit-content;
    width: 100%;
}

.hero-section h1 {
    color: #333;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

.hero-section p {
    color: #666;
    text-align: center;
    padding: 20px 20px;
    margin: 0;
}

.hero-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.hero-info-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hero-info-card h2 {
    color: #333;
    margin-bottom: 10px;
}

.hero-info-card p {
    color: #666;
    margin: 0;
}

.hero-info-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.hero-info-card:not(:hover) {
    animation: fadeOut 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { transform: translateY(0); }
    to { transform: translateY(-5px); }
}

@keyframes fadeOut {
    from { transform: translateY(-5px); }
    to { transform: translateY(0); }
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.call-to-action-section {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}