.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    float: left;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hamburger-menu {
    flex-direction: column;
    cursor: pointer;
    margin: 28px 32px;
}

.hamburger-menu .bar {
    width: 28px;
    height: 4px;
    background-color: #f2f2f2;
    margin: 4px 0;
}

.nav-links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(51, 51, 51, 0.2);
    border: 2px solid black;
    width: 20%;
    height: 200px;

}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 16px 0;
}

.nav-links a {
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    display: flex;
}